@charset "UTF-8";
/* CSS Document */
#NavLineDiv{
  font: 10px sans-serif;
}

path {
    stroke: black;
    stroke-width: 2;
    fill: none;
}
 
line {
    stroke: steelblue;
}
 
text {
    font-family: Arial;
    font-size: 9pt;
}

