
path{
  fill: none;
  stroke: #448ccb;
}


line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

text {
    font-family: Arial;
    font-size: 9pt;
}

#NavLine_label p{
margin-top: 0px;	
font-family: Arial;
font-size: 9pt;
}
