@charset "UTF-8";
/* CSS Document */
#NavLineDiv{
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#NavLineDiv .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


